@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  direction: rtl;
}
header {
  text-align: center;
}
main {
  margin: auto;
  text-align: center;
}
section {
  margin-bottom: 2rem;
  padding: 1rem;
}
h2 {
  padding: 1rem;
}
.message {
  text-align: start;
  max-width: 400px;
  margin: auto;
}
.message p {
  line-height: 2rem;
}
.message li {
  list-style: none;
  text-indent: 2rem;
}
.message .bolder {
  font-weight: bolder;
}

.list-items {
  display: flex;
  text-wrap: nowrap;
  flex-wrap: wrap;
  gap: 1rem;
}
.list-items .cardFree {
  border: 1px grey solid;
  border-radius: 10px;
  padding: 0.4rem;
  max-width: max-content;
}
.list-items .cardFree.colored {
  background-color: #b3f1c6;
}
.list-items .cardFree:hover {
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.list .card {
  text-align: start;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  border: 1px solid #ddd;
}
.list .card span {
  padding: 0.5rem;
}
.item {
  text-align: start;
}
